<!DOCTYPE html>
<!--
Template Name: Vallume
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Ability Hackubator</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<stylesheet_link_tag "layout", media: "all" />
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div style="display:none" class="fl_left">
      <ul class="nospace">
        <li><a href="<%= root_path %>"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fa fa-phone"></i> +1 (617) 717 9590</li>
        <li><i class="fa fa-envelope-o"></i> sgupta@easyalliance.org</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<% banner = asset_path('banner.jpg') %>
<div class="wrapper bgded overlay" style="background-image:url('<%= banner %>');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>Easy Alliance presents</p>
      <h3 class="heading">Ability Hackubator 2018</h3>
      <footer style="display:none" >
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Quam scelerisque</a></li>
          <li><a class="btn inverse" href="#">Sagittis dignissim</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <div class="sectiontitle">
        <h6 class="heading">Innovate inclusive enabling technology and work your idea into a product</h6>
        <p>Registrations starting soon!</p>
      </div>
      <ul class="nospace btmspace-80 group">
        <li class="one_third first">
          <article><i class="fa fa-lightbulb-o"></i>
            <h6 class="heading font-x1"><a>Technology with a purpose</a></h6>
            <p>Do you dream to improve accessibility and assistive technology? So do we!<!-- &hellip; --></p>
          </article>
        </li>
        <li class="one_third">
          <article><i class="fa fa-handshake-o"></i>
            <h6 class="heading font-x1"><a href="#">You innovate, we incubate</a></h6>
            <p>Top few entries will be supported with resources to create their dream product! <!-- &hellip; --></p>
          </article>
        </li>
        <li class="one_third">
          <article><i class="fa fa-forumbee"></i>
            <h6 class="heading font-x1"><a href="#">Creation beyond competition</a></h6>
            <p>We'll ensure that the winning products reach the intended special users!<!-- &hellip; --></p>
          </article>
        </li>
      </ul>
      <p style="display:none" class="center"><a class="btn" href="#">Eleifend dui auctor</a></p>
    </section>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <section>
      <div class="sectiontitle">
        <h6 class="heading">Event sponsor and other stakeholders</h6>
      </div>
      <ul class="nospace group overview">
        <li class="one_third">
          <figure><a><img src="images/demo/320x240.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Sponsors</h6>
              <p>We are actively seeking sponsors with direct or indirect interest in Ability Hackubator. They may be looking to promote their own platforms and products, explore new technology, or simply recruit the cream among participating talent. </p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a><img src="images/demo/320x240.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Event Owner</h6>
              <p><strong>Samarthanam</strong>, an NGO that has been working since 1997 to provide education, rehabilitation and training to specially abled chilldren and youth. </p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a><img src="images/demo/320x240.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Organisers</h6>
              <p>Professional team based in Bengaluru, chaired by Sunish Gupta, a pioneering contributor to assistive technology at places including Massachussetts Institute of Technology.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a><img src="images/demo/320x240.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Incubators</h6>
              <p>EasyAlliance, who have introduced novel standards of accessibility testing. We welcome more companies eager to step up as incubators.</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <article class="hoc cta clear"> 
    
    <h6 class="three_quarter first">Gravida venenatis morbi a interdum erat id congue</h6>
    <footer class="one_quarter"><a class="btn" href="#">Neque mauris nunc &raquo;</a></footer>
  </article>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">What we're looking for</h6>
      <p>Teams are expected to focus on the following areas</p>
    </div>
    <ul class="nospace group overview">
      <li class="one_third first">
        <figure class="clear"><img class="circle" src="images/demo/60x60.png" alt="">
          <figcaption>
            <h6 class="heading">Rural availability</h6>
            </figcaption>
        </figure>
        <p>Indian rural population should be a chief target audience for the product. Keep the rural infrastructure in mind to ensure that the solution is feasible for all.</p>
      </li>
      <li class="one_third ">
        <figure class="clear"><img class="circle" src="images/demo/60x60.png" alt="">
          <figcaption>
            <h6 class="heading">Accessibility</h6>
            </figcaption>
        </figure>
        <p>How diverse is your user-base? How accessible is your product? Do you focus on assisting a particular disability group? Is your solution an accessible improvement upon an old product?</p>
      </li>
      <li class="one_third ">
        <figure class="clear"><img class="circle" src="images/demo/60x60.png" alt="">
          <figcaption>
            <h6 class="heading">Scalable production</h6>
            </figcaption>
        </figure>
        <p>We want your idea to reach the masses and be used the best. Scalability plays an important factor in deciding the winning entry. Create something to really watch it go around!</p>
      </li>
    </ul>
    <!-- <footer><a class="btn" href="#">View More &raquo;</a></footer> -->
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <figure class="hoc container clear clients"> 
    <!-- ################################################################################################ -->
    <figcaption class="sectiontitle">
      <h6 class="heading">Important dates will be updated soon!<br> Keep visiting!</h6>
      <!-- <p>Pulvinar sodales suspendisse in purus vel massa fermentum</p> -->
    </figcaption>
    <ul class="nospace group">
      <li class="one_quarter first"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
      <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
      <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
      <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </figure>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Footer Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h6 class="heading">Reach us here</h6>
        <ul class="nospace btmspace-30 linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Address of event venue will be available here
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
        </ul>
        <!-- <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul> -->
      </div>
      <div class="one_quarter">
        <!-- <h6 class="heading">Augue sociis natoque</h6>
        <ul class="nospace linklist">
          <li><a href="#">Porta lacinia est velit</a></li>
          <li><a href="#">Sollicitudin nisl eu</a></li>
          <li><a href="#">Tincidunt turpis ante</a></li>
          <li><a href="#">Lobortis nisl fusce</a></li>
          <li><a href="#">Purus nisi faucibus et est</a></li>
        </ul> -->
      </div>
      <div class="one_quarter">
        <!-- <h6 class="heading">Penatibus et magnis</h6>
        <ul class="nospace linklist">
          <li><a href="#">Quis blandit dignissim</a></li>
          <li><a href="#">Lacus vestibulum porta</a></li>
          <li><a href="#">Quam nec mollis vulputate</a></li>
          <li><a href="#">Mauris aliquet cursus</a></li>
          <li><a href="#">Nisl duis sed rhoncus</a></li>
        </ul> -->
      </div>
      <!-- <div class="one_quarter">
        <h6 class="heading">Dis parturient montes</h6>
        <p class="nospace btmspace-15">Nascetur ridiculus mus elit aliquam erat volutpat proin scelerisque mi viverra.</p>
        <form method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div> -->
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="http://www.easyalliance.org">Easy Alliance</a></p>
      
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Footer Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>