<!DOCTYPE html>
<html>
  <head>
    <title>AbilityHackubator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <stylesheet_link_tag "layout", media: "all" />
    <stylesheet_link_tag "font-awesome.min", media: "all" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
